<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

    <agm-polyline *ngFor="let m of flights">
        <agm-marker (markerClick)="clickedMarker(m.origin, i)" [latitude]="m.ori_lat" [longitude]="m.ori_lng" [label]="m.ori_label" (dragEnd)="markerDragEnd(m, $event)">
            <agm-info-window>
                <strong>{{ m.origin }}</strong>
            </agm-info-window>
        </agm-marker>
        <agm-marker (markerClick)="clickedMarker(m.destination, i)" [latitude]="m.dst_lat" [longitude]="m.dst_lng" [label]="m.dst_label" (dragEnd)="markerDragEnd(m, $event)">
            <agm-info-window>
                <strong>{{ m.destination }}</strong>
            </agm-info-window>
        </agm-marker>

        <agm-polyline-point [latitude]="m.ori_lat" [longitude]="m.ori_lng" strokeColor="red">
        </agm-polyline-point>
        <agm-polyline-point [latitude]="m.dst_lat" [longitude]="m.dst_lng" strokeColor="red">
        </agm-polyline-point>
    </agm-polyline>

</agm-map>